# Ignore the contents of the _site directory and other cache directories
_site/
.idea/
.DS_Store
_posts/2199-01-01-future-post.md
_posts/2199-01-01-PaperReading.md
_posts/2023-01-09-PaperReading-PointCloudAugmentation&WeightedLocalTransformations.md
_publications/2009-10-01-paper-title-number-1.md
_publications/_*
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ignore files created by npm
node_modules
package-lock.json

# Ignore the vendor file at root level and bundle for alternative installation
/vendor/
.bundle/

# Ignore folders related to IDEs
.vscode/
